/* variáveis de cor */
:root {
    --cor-secundaria: white;
}

/* estilo do menu do topo */
#nav-topo {
    background-color: rgba(221, 221, 221, 0.041);
    backdrop-filter: blur(7px);
    border-bottom: 1px solid rgba(145, 145, 145, 0.164);
    position: fixed;
}

#nav-topo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

#nav-topo ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 1% 0.5%;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: 0.5s;
    font-family: R03;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#nav-topo ul li:hover {
    border-bottom: 2px solid var(--cor-secundaria);
    cursor: pointer;
}

#nav-topo li:first-child {
    margin-right: auto;
    /* Coloca o primeiro item à esquerda */
}

#nav-topo li:last-child {
    margin-left: auto;
    /* Coloca o último item à direita */
}

#nav-topo ul li a img {
    width: 60%;
}

#ham {
    font-size: 1.5rem;
}

/* Começo da responsividade do menu do topo */
@media (max-width: 1050px) {

    #nav-topo ul li {
        display: none;
    }

    #nav-topo ul li:nth-child(3n+1) {
        display: flex;
    }
}


/* estilo do menu da esquerda */
#nav-esquerda {
    position: fixed;
    background-color: rgba(221, 221, 221, 0.055);
    backdrop-filter: blur(7px);
    width: 6%;
    height: 100%;
    margin-top: 5.5%;
}

#nav-esquerda ul {
    list-style: none;
    height: 100vh;
}

#contain-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
}

#contain-1 li {
    padding: 20%;
}

#contain-2 {
    height: 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#contain-2 li {
    padding: 20%;
}

#text-scroll {
    transform: rotate(90deg);
    font-size: 0.8rem;
    font-family: R05;
    color: var(--cor-secundaria);
    margin-top: 50%;
    margin-bottom: 50%;
    letter-spacing: 1px;
}

#scroll-up {
    width: 60%;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(184, 3, 78), rgb(255, 94, 0));
    cursor: pointer;
}

#scroll-down {
    width: 60%;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(184, 3, 78), rgb(255, 94, 0));
    cursor: pointer;
    transition: 0.5s;
}

#scroll-up:hover {
    box-shadow: 0px 0px 45px 22px rgba(255, 255, 255, 0.055);
}

#scroll-down:hover {
    box-shadow: 0px 0px 45px 22px rgba(255, 255, 255, 0.055);
}


/* estilo do menu da direita */
#nav-direita {
    position: fixed;
    display: flex;
    right: 0;
    margin-top: 11vh;
    height: 89.3vh;

    backdrop-filter: blur(7px);
}

#nav-direita ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#nav-direita ul li {
    transform: rotate(90deg);
    text-align: center;
    padding: 37.5% 35%;
    transition: 0.5s;
    font-family: R03;
    font-size: 1rem;
}

#nav-direita ul li:hover {
    background-image: linear-gradient(to bottom right, rgb(184, 3, 78), rgb(255, 94, 0));
    box-shadow: 0px 0px 45px 22px rgba(255, 255, 255, 0.219);
}

/* seção da personagem scarlet */
#scarlet {
    width: 88%;
    height: 100vh;
    padding: 6%;
    background-image: url('../img/Design\ sem\ nome\ \(2\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 80%;
}