/* definindo padrões para todas as páginas do site */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

/* Fontes ultilizadas no site */
@font-face {
    font-family: R03;
    src: url("fonts/roboto/Roboto-03.ttf");
}

@font-face {
    font-family: R05;
    src: url("fonts/roboto/Roboto-05.ttf");
}